.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.rbc-toolbar, .rbc-allday-cell{
  display: none !important;
}
.rbc-calendar{
  background-color: #fbf7f6;
}
.rbc-time-view{
  margin: 7%;
  width: 85%;
  border: none;
}
.rbc-header{
  height: 90px;
  border-radius: 10px;
  background: #fbf7f6;
  width: 100% !important;
  margin-left: 13px;
  border: 1px solid #fbf7f6;
  padding: 35px 3px;
  margin-bottom: 10px;
}
.rbc-time-content > .rbc-time-gutter > .rbc-timeslot-group{
  height: 90px;
  border-radius: 8px;
  background: #fbf7f6;
  margin-left: 13px;
  border: 1px solid #fbf7f6;
  padding: 35px 3px;
  margin-bottom: 8px;
  border-left: none !important;
}
.rbc-timeslot-group{
  height: 90px;
  border-radius: 10px;
  background: #fafafa;
  margin-left: 13px;
  border: 1px solid #dddddd;
  padding: 35px 3px;
  margin-bottom: 8px;
  border-left: 1px solid #dddddd !important;
}
.rbc-time-header-content, .rbc-time-content > * + * > *{
  border-left:none;
}
.rbc-header + .rbc-header {
    border-left: none;
}
.rbc-today {
  background-color: #fbf7f6 !important;
}
.rbc-time-content{
  border-top: none;
}
.rbc-day-slot .rbc-events-container{
  margin-left: 13px;
  margin-right: 0px;
}
.rbc-day-slot .rbc-event{
  max-height: 90px;
  border: 1px solid #2ec192;
}
.rbc-addons-dnd .rbc-event {
  transition: opacity 150ms;
  width: 100% !important;
  left: 0% !important;
  height: 100% !important;
  background-color: #68dbb6;
  border-radius: 10px;
}
.rbc-current-time-indicator{
  height: 0px !important;
}
.event-detail{
  font-family: Arial, Helvetica, sans-serif;
    width: 300px;
    padding: 30px;
    text-align: left;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 20px 75px rgba(0, 0, 0, 0.13);
    color: #666;
}
.close{
  margin-top: -15px;
  margin-left: -15px;
  font-size: 24px;
  color: #dddddd;
  cursor: pointer;
}
.event-body{
  padding: 17px;
  margin-top: -50px;
}
.event-action{
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: flex-start;
  margin-top: 20px;
}
.event-action > button{
  outline: none;
  border: none;
  display: inline-block;
  padding: 6px 18px;
  color: #eee;
  margin-right: 10px;
  border-radius: 5px;
  font-size: 12px;
  cursor: pointer;
  width: 50%;
  height: 30px;
  font-weight: 600;
}
.cancle{
  background-color: #ec4741;
}
.re-schedule{
  background-color: #f5ca5b;
}
.repeat-text{
  color: #68dbb4;
}
.rbc-event-label{
  margin-top: 12px;
  font-weight: 500;
}
.rbc-event-content{
  margin-top: 5px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
